<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<link type="text/css" rel="stylesheet" href="/css/sakura.css" th:href="@{/css/sakura.css}" >
<head>
    <title>Edit recipe</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body> 
	<div>
		<h3>Edit recipe</h3>
		<form th:object="${recipe}" th:action="@{../save}" action="#" method="post" enctype="multipart/form-data">
			<input type="hidden" th:field="*{id}" class="form-control" />
			<table>
				<tr>
					<td>Name: <input type="text" id="name" th:field="*{name}" />
					</td>
					<td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Error</td>
				</tr>
				<tr>
					<td>Source: <input type="text" id="source" th:field="*{source}" /></td>
				</tr>
				<tr>
					<td>Link: <input type="url" id="link" th:field="*{link}" /></td>
				</tr>
				
				<tr>
					<td>Difficulty (1=easy, 2=intermediate, 3=hard): <input type="number" id="difficultylevel"
						th:field="*{difficultylevel}" /></td>
					<td th:if="${#fields.hasErrors('difficultylevel')}" th:errors="*{difficultylevel}">Error</td>
				</tr>
				<tr>
				<td>Category: 
				<select id="categories" th:field="*{category}">
					<option th:each="category: ${categories}" 
					    th:value="${category.id}"
						th:text="${category.name}"></option>
				</select></td>
				</tr>
			</table>
			<label>Photo: </label>
			<input type="file" name="file" accept="image/png, image/jpeg, image/jpg" /><br/>
			<input type="submit" value="Save"></input>
			<div style="clear: both; display: block; height: 10px;"></div>
			<a href="/index">Back to recipe list</a>
		</form>
	</div>
</body>
</html> 