<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<link type="text/css" rel="stylesheet" href="/css/sakura.css" th:href="@{/css/sakura.css}" >
<head>
    <title>Recipe Bank</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body> 
	<div>
		<h3>Recipe Bank</h3>
		<h5 th:inline="text">Welcome [[${#httpServletRequest.remoteUser}]]</h5>
		<a sec:authorize="hasAuthority('ADMIN')" href="/addrecipe">Add recipe</a>
		<div style="clear: both; display: block; height: 10px;"></div>
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="Sign Out"/>
		</form>
		<table>
			<tr>
			<th>Recipe</th>
			<th>Image</th>
			<th>Category</th>
			<th>Source</th>
			<th>Link</th>
			<th>Difficulty (1-3)</th>
			<th sec:authorize="hasAuthority('ADMIN')"> </th>
			<th sec:authorize="hasAuthority('ADMIN')"> </th>
			</tr>
			<tr th:each="recipe : ${recipes}">
			<td th:text="${recipe.name}"></td>
			<td><img th:src="${recipe.photosImagePath}" /></td>
			<td th:text="${recipe.category.name}"></td>
			<td th:text="${recipe.source}"></td>
			<td><a th:href="${recipe.link}" th:text="${recipe.link}"></a></td>
			<td th:text="${recipe.difficultylevel}"></td>
			<td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/editrecipe/{id}(id=${recipe.id})}">Edit</a></td>
			<td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/delete/{id}(id=${recipe.id})}">Delete</a></td>
			
		</table>
	</div>
</body>
</html>